@import "../variables";

.link {
  display: inline-block;
  margin-top: 2rem;
  padding: .5rem 2rem;
  color: $color-primary-dark;
  border: 2px solid $color-primary-dark;
  border-radius: 4px;

  &:hover, &:active {
    color: white;
    background-color: $color-primary-dark;
  }
}

.about {
  &__heading {
    color: $black;
    margin-bottom: 2rem;
  }

  &__briefIntro {
    color: gray;
  }

  &__pwaProof {
    margin-top: 2rem;
    color: $black;

    h1 {
      margin-bottom: 2rem;
    }

    ul {
      margin: 0 4rem;
      list-style: square;
      color: gray;
    }

    .graphs {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      padding: 0 2.5rem;

      @include respond(phone) {
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    }

    .audience {
      width: 35rem;
      background-color: $color-secondary;
      padding: 0 1rem;
      border-radius: 4px;

      @include respond(phone) {
        width: 100%;
        margin: 0 1rem;
      }

      .bars {
        display: flex;
        justify-content: space-between;
      }

      h4 {
        text-align: center;
        margin: 1rem 0;
      }

      .column {
        height: 26rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }

      .app-bar {
        background-color: $color-primary-dark;
        width: 9rem;
        height: 33%;
      }

      .mobile-bar {
        background-color: $color-primary-light;
        width: 9rem;
        height: 89%;
      }
    }

    .features {
      color: white;
      text-align: center;
      border-spacing: 1rem;
      empty-cells: hide;
      width: 45rem;

      @include respond(phone) {
        width: 100%;
        margin-top: 1rem;
      }

      th {
        background-color: $color-primary-dark;
      }

      td, th {
        padding: 1rem;
      }

      .title {
        background-color: $color-primary-light;
      }

      .has {
        background-color: rgb(58, 196, 104);
      }

      .hasnot {
        background-color: rgb(214, 80, 103);
      }
    }
  }

  &__personnel {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    @include respond(phone) {
      flex-direction: column;
    }

    .intro {
      width: 55%;

      @include respond(phone) {
        width: 100%;
      }
    }

    h1 {
      color: $black;
      margin-bottom: 2rem;
    }

    p {
      color: grey;
    }

    img {
      width: 30%;
      border-radius: 4px;

      @include respond(phone) {
        width: 80%;
        margin: 1.5rem auto 0 auto;
      }
    }
  }

  &__pricing {
    margin-top: 3rem;

    h1 {
      color: $black;
      margin-bottom: 2rem;
    }

    ul {
      margin: 0 4rem;
      list-style: square;
      color: gray;
    }
  }

}