@import "../variables";

.contact {
  &__heading {
    color: $black;
  }
  
  &__subHead {
    margin: 1.5rem 0;
    color: gray;
  }
  
  &__methods {
    color: white;
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    @include respond(phone) {
      flex-direction: column;
    }
  }
  
  &__form {
    background-color: darken($color-primary-dark, 20);
    padding: 5rem;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(phone) {
      width: 100%;
    }

    .sent-message {
      color: lighten($color-primary-light, 10);
    }

    .error-sending {
      color: rgb(255, 61, 78);;
    }

    h2 {
      margin-bottom: 1rem;
    }

    .form-control {
      display: flex;
      flex-direction: column;
      margin: .7rem 0;
    }

    .field-error {
      color: rgb(255, 61, 78);
    }

    label {
      margin-bottom: 5px;
    }

    input, textarea {
      border-radius: 3px;
      padding: 5px;
    }

    textarea {
      resize: vertical;
    }

    button {
      align-self: flex-start;
      padding: .5rem 1.5rem;
      border-radius: 3px;
      border: 3px solid $color-primary-light; 
      background-color: darken($color-primary-light, 10);
      cursor: pointer;
      color: white;
      margin-top: 2rem;

      &:hover, &:active {
        background-color: white;
        color: $color-primary-dark;
      }
    }
  }
  
  &__addresses {
    background-color: darken($color-primary-light, 10);
    padding: 5rem;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond(phone) {
      width: 100%;
    }

    h2 {
      margin-bottom: 1rem;
    }

    a {
      color: white;
      margin-top: 2rem;
      font-size: 1.7rem;
      display: flex;
      align-items: center;

      &:first-of-type {
        transform: translateX(-4px);
      }

      &:hover, &:active {
        color: darken($color-primary-dark, 20);
      }
    }

    i {
      font-size: 3rem;
      margin-left: 1.5rem;
    }
  }
}

.contact-eng {
  &__addresses {
    a {
      &:first-of-type {
        transform: translateX(4px);
      }
    }

    i {
      margin-left: 0;
      margin-right: 1.5rem;
    }
  }

  &__form {
    label {
      margin-bottom: .7rem;
    }
  }
}