.contact-eng {
  &__addresses {
    a {
      &:first-of-type {
        transform: translateX(4px);
      }
    }

    i {
      margin-left: 0;
      margin-right: 1.5rem;
    }
  }

  &__form {
    label {
      margin-bottom: .7rem;
    }
  }
}