@import "../variables";

.header {
  margin-bottom: 0;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.7rem;
  color: $color-primary-dark;
  border: 2px solid $color-primary-dark;
  border-radius: 4px;

  &:hover, &:active {
    color: white;
    background-color: $color-primary-dark;
  }
}

.heading {
  background-image: url('/images/header-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  .container {
    padding-top: 6rem;
    height: 36rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 8rem;
      height: 30rem;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    color: $black;

    @include respond(phone) {
      text-align: center;
    }
  }

  p {
    width: 45%;
    color: gray;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }
}

.heading-eng {
  background-image: url('/images/header-background-eng.jpg');
  background-position: top right;
}

.about {
  h1 {
    color: $black;
    margin-bottom: 1.5rem;
  }

  p {
    color: gray;
  }
}

.portfolio {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

    @include respond(phone) {
      justify-content: center;
    }
  }

  h1 {
    color: $black;
    margin-bottom: 1.5rem;
    align-self: flex-start;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 30rem;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 2px $black;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    color: gray;
  }

  .link {
    margin-top: 3rem;
  }
}