@import "../variables";

.portfolio {
  &__heading {
    color: $black;
    text-align: center;
    font-size: 4rem;
  }

  &__subHead {
    color: gray;
    text-align: center;
    margin-top: 1.5rem;
  }
}

.work {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;

  @include respond(phone) {
    flex-direction: column;
    background-color: $color-secondary;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 5rem;
  }

  div {
    width: 45%;

    @include respond(phone) {
      width: 100%;
      order: 2;
      margin-top: 2rem;
    }
  }

  h2 {
    color: $black;
  }

  p {
    color: gray;
    margin-top: 1.5rem;

    @include respond(phone) {
      color: $black;
    }
  }

  a {
    margin-top: 3rem;
    display: inline-block;
    padding: .7rem 1.7rem;
    color: $color-primary-dark;
    border: 2px solid $color-primary-dark;
    border-radius: 3px;

    &:hover, &:active {
      color: white;
      background-color: $color-primary-dark;
    }
  }

  img {
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px gray;

    @include respond(phone) {
      width: 100%;
    }
  }
}