$color-primary-dark: #1d61f2;
$color-primary-light: #4db0ee;
$color-secondary: #dadada;
$black: #444444;

@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
$persian-font: 'BYekan', sans-serif;
$english-font: 'Nanum Gothic', sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };  // 600px
  }
}
