@import "./variables";

body, button, a {
  font-family: $english-font;
}

.header {
  &__lang {
    i {
      margin-right: .7rem;
    }

    @include respond(phone) {
      order: 1;
    }
  }

  &__title {
    @include respond(phone) {
      order: 2;
    }

    img {
      margin-left: 0;
      margin-right: 1.5rem;

      @include respond(phone) {
        margin-right: 5px;
      }
    }
  }

  &__phone-menu {
    order: 3;
  }
}

.footer {
  &__contact {
    h2 {
      margin-bottom: 1rem;
    }

    i {
      margin-right: 1rem;
      margin-left: 0;
    }

    a:first-of-type {
      transform: translateX(3px);
    }
  }
}