@import "./variables";
@import "./base";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.main {
  flex-grow: 1;
}

.header {
  background-color: $color-primary-dark;
  color: white;
  margin-bottom: 2rem;

  a {
    color: white;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__title {
    display: flex;
    align-items: center;
    
    img {
      width: 8rem;
      margin-left: 1.5rem;

      @include respond(phone) {
        width: 5rem;
        margin-left: 1rem;
      }
    }
  }

  &__lang {
    i {
      transform: scale(1.5);
      margin-left: .7rem;
    }

    a:hover, a:active {
      color: $color-primary-light;
    }
  }

  &__menu {
    position: relative;

    @include respond(phone) {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      background-color: $color-primary-dark;
      height: 100vh;
      width: 60%;
      z-index: 200;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform .3s;
    }

    a {
      margin: 0 1rem;

      &:hover, &:active {
        color: $color-primary-light;
      }

      @include respond(phone) {
        margin: 1.5rem 0;
      }
    }

    i {
      display: none;
      transform: scale(2);
      position: absolute;
      top: 2rem;
      right: 2rem;

      @include respond(phone) {
        display: inline-block;
      }
    }
  }

  &__phone-menu {
    display: none;

    div {
      width: 2.7rem;
      border-top: 3px solid white;
    }

    div:first-child {
      margin-bottom: .6rem;
    }

    div:last-child {
      margin-top: .6rem;
    }

    @include respond(phone) {
      display: block;
    }
  }
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: .8);
}

.footer {
  background-color: $color-secondary;
  padding: 1.5rem 0;
  color: $black;
  margin-top: 3rem;

  .container {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__about {
    width: 55%;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      margin-top: .5rem;
      color: $color-primary-dark;

      &:hover, &:active {
        color: $color-primary-light;
      }

      &:first-of-type {
        transform: translateX(-3px);
      }
    }

    i {
      font-size: 2.1rem;
      transform: translateY(3px);
      margin-left: 1rem;
    }
  }
}