@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
.link {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  color: #1d61f2;
  border: 2px solid #1d61f2;
  border-radius: 4px;
}
.link:hover, .link:active {
  color: white;
  background-color: #1d61f2;
}

.about__heading {
  color: #444444;
  margin-bottom: 2rem;
}
.about__briefIntro {
  color: gray;
}
.about__pwaProof {
  margin-top: 2rem;
  color: #444444;
}
.about__pwaProof h1 {
  margin-bottom: 2rem;
}
.about__pwaProof ul {
  margin: 0 4rem;
  list-style: square;
  color: gray;
}
.about__pwaProof .graphs {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .about__pwaProof .graphs {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.about__pwaProof .audience {
  width: 35rem;
  background-color: #dadada;
  padding: 0 1rem;
  border-radius: 4px;
}
@media only screen and (max-width: 37.5em) {
  .about__pwaProof .audience {
    width: 100%;
    margin: 0 1rem;
  }
}
.about__pwaProof .audience .bars {
  display: flex;
  justify-content: space-between;
}
.about__pwaProof .audience h4 {
  text-align: center;
  margin: 1rem 0;
}
.about__pwaProof .audience .column {
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about__pwaProof .audience .app-bar {
  background-color: #1d61f2;
  width: 9rem;
  height: 33%;
}
.about__pwaProof .audience .mobile-bar {
  background-color: #4db0ee;
  width: 9rem;
  height: 89%;
}
.about__pwaProof .features {
  color: white;
  text-align: center;
  border-spacing: 1rem;
  empty-cells: hide;
  width: 45rem;
}
@media only screen and (max-width: 37.5em) {
  .about__pwaProof .features {
    width: 100%;
    margin-top: 1rem;
  }
}
.about__pwaProof .features th {
  background-color: #1d61f2;
}
.about__pwaProof .features td, .about__pwaProof .features th {
  padding: 1rem;
}
.about__pwaProof .features .title {
  background-color: #4db0ee;
}
.about__pwaProof .features .has {
  background-color: #3ac468;
}
.about__pwaProof .features .hasnot {
  background-color: #d65067;
}
.about__personnel {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .about__personnel {
    flex-direction: column;
  }
}
.about__personnel .intro {
  width: 55%;
}
@media only screen and (max-width: 37.5em) {
  .about__personnel .intro {
    width: 100%;
  }
}
.about__personnel h1 {
  color: #444444;
  margin-bottom: 2rem;
}
.about__personnel p {
  color: grey;
}
.about__personnel img {
  width: 30%;
  border-radius: 4px;
}
@media only screen and (max-width: 37.5em) {
  .about__personnel img {
    width: 80%;
    margin: 1.5rem auto 0 auto;
  }
}
.about__pricing {
  margin-top: 3rem;
}
.about__pricing h1 {
  color: #444444;
  margin-bottom: 2rem;
}
.about__pricing ul {
  margin: 0 4rem;
  list-style: square;
  color: gray;
}
