@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
.contact__heading {
  color: #444444;
}
.contact__subHead {
  margin: 1.5rem 0;
  color: gray;
}
.contact__methods {
  color: white;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .contact__methods {
    flex-direction: column;
  }
}
.contact__form {
  background-color: #0939a0;
  padding: 5rem;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .contact__form {
    width: 100%;
  }
}
.contact__form .sent-message {
  color: #7cc5f2;
}
.contact__form .error-sending {
  color: #ff3d4e;
}
.contact__form h2 {
  margin-bottom: 1rem;
}
.contact__form .form-control {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}
.contact__form .field-error {
  color: #ff3d4e;
}
.contact__form label {
  margin-bottom: 5px;
}
.contact__form input, .contact__form textarea {
  border-radius: 3px;
  padding: 5px;
}
.contact__form textarea {
  resize: vertical;
}
.contact__form button {
  align-self: flex-start;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: 3px solid #4db0ee;
  background-color: #1e9bea;
  cursor: pointer;
  color: white;
  margin-top: 2rem;
}
.contact__form button:hover, .contact__form button:active {
  background-color: white;
  color: #1d61f2;
}
.contact__addresses {
  background-color: #1e9bea;
  padding: 5rem;
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .contact__addresses {
    width: 100%;
  }
}
.contact__addresses h2 {
  margin-bottom: 1rem;
}
.contact__addresses a {
  color: white;
  margin-top: 2rem;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
.contact__addresses a:first-of-type {
  transform: translateX(-4px);
}
.contact__addresses a:hover, .contact__addresses a:active {
  color: #0939a0;
}
.contact__addresses i {
  font-size: 3rem;
  margin-left: 1.5rem;
}

.contact-eng__addresses a:first-of-type {
  transform: translateX(4px);
}
.contact-eng__addresses i {
  margin-left: 0;
  margin-right: 1.5rem;
}
.contact-eng__form label {
  margin-bottom: 0.7rem;
}
