@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
.header {
  margin-bottom: 0;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.7rem;
  color: #1d61f2;
  border: 2px solid #1d61f2;
  border-radius: 4px;
}
.link:hover, .link:active {
  color: white;
  background-color: #1d61f2;
}

.heading {
  background-image: url("/images/header-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.heading .container {
  padding-top: 6rem;
  height: 36rem;
}
@media only screen and (max-width: 37.5em) {
  .heading .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    height: 30rem;
  }
}
.heading h1 {
  margin-bottom: 1.5rem;
  color: #444444;
}
@media only screen and (max-width: 37.5em) {
  .heading h1 {
    text-align: center;
  }
}
.heading p {
  width: 45%;
  color: gray;
}
@media only screen and (max-width: 37.5em) {
  .heading p {
    width: 100%;
    text-align: center;
  }
}

.heading-eng {
  background-image: url("/images/header-background-eng.jpg");
  background-position: top right;
}

.about h1 {
  color: #444444;
  margin-bottom: 1.5rem;
}
.about p {
  color: gray;
}

.portfolio {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
@media only screen and (max-width: 37.5em) {
  .portfolio .works {
    justify-content: center;
  }
}
.portfolio h1 {
  color: #444444;
  margin-bottom: 1.5rem;
  align-self: flex-start;
}
.portfolio .work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio img {
  width: 30rem;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #444444;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.portfolio h3 {
  color: gray;
}
.portfolio .link {
  margin-top: 3rem;
}
