@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
body, button, a {
  font-family: "Nanum Gothic", sans-serif;
}

.header__lang i {
  margin-right: 0.7rem;
}
@media only screen and (max-width: 37.5em) {
  .header__lang {
    order: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__title {
    order: 2;
  }
}
.header__title img {
  margin-left: 0;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .header__title img {
    margin-right: 5px;
  }
}
.header__phone-menu {
  order: 3;
}

.footer__contact h2 {
  margin-bottom: 1rem;
}
.footer__contact i {
  margin-right: 1rem;
  margin-left: 0;
}
.footer__contact a:first-of-type {
  transform: translateX(3px);
}
