@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body, button, a {
  font-family: "BYekan", sans-serif;
  font-size: 1.6rem;
}

input, textarea, button {
  outline: none;
}

button {
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.main {
  flex-grow: 1;
}

.header {
  background-color: #1d61f2;
  color: white;
  margin-bottom: 2rem;
}
.header a {
  color: white;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__title {
  display: flex;
  align-items: center;
}
.header__title img {
  width: 8rem;
  margin-left: 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .header__title img {
    width: 5rem;
    margin-left: 1rem;
  }
}
.header__lang i {
  transform: scale(1.5);
  margin-left: 0.7rem;
}
.header__lang a:hover, .header__lang a:active {
  color: #4db0ee;
}
.header__menu {
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: #1d61f2;
    height: 100vh;
    width: 60%;
    z-index: 200;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
  }
}
.header__menu a {
  margin: 0 1rem;
}
.header__menu a:hover, .header__menu a:active {
  color: #4db0ee;
}
@media only screen and (max-width: 37.5em) {
  .header__menu a {
    margin: 1.5rem 0;
  }
}
.header__menu i {
  display: none;
  transform: scale(2);
  position: absolute;
  top: 2rem;
  right: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .header__menu i {
    display: inline-block;
  }
}
.header__phone-menu {
  display: none;
}
.header__phone-menu div {
  width: 2.7rem;
  border-top: 3px solid white;
}
.header__phone-menu div:first-child {
  margin-bottom: 0.6rem;
}
.header__phone-menu div:last-child {
  margin-top: 0.6rem;
}
@media only screen and (max-width: 37.5em) {
  .header__phone-menu {
    display: block;
  }
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #dadada;
  padding: 1.5rem 0;
  color: #444444;
  margin-top: 3rem;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__about {
  width: 55%;
}
@media only screen and (max-width: 37.5em) {
  .footer__about {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.footer__about h2 {
  margin-bottom: 1rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contact a {
  margin-top: 0.5rem;
  color: #1d61f2;
}
.footer__contact a:hover, .footer__contact a:active {
  color: #4db0ee;
}
.footer__contact a:first-of-type {
  transform: translateX(-3px);
}
.footer__contact i {
  font-size: 2.1rem;
  transform: translateY(3px);
  margin-left: 1rem;
}
