@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
.portfolio__heading {
  color: #444444;
  text-align: center;
  font-size: 4rem;
}
.portfolio__subHead {
  color: gray;
  text-align: center;
  margin-top: 1.5rem;
}

.work {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .work {
    flex-direction: column;
    background-color: #dadada;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 5rem;
  }
}
.work div {
  width: 45%;
}
@media only screen and (max-width: 37.5em) {
  .work div {
    width: 100%;
    order: 2;
    margin-top: 2rem;
  }
}
.work h2 {
  color: #444444;
}
.work p {
  color: gray;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .work p {
    color: #444444;
  }
}
.work a {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.7rem 1.7rem;
  color: #1d61f2;
  border: 2px solid #1d61f2;
  border-radius: 3px;
}
.work a:hover, .work a:active {
  color: white;
  background-color: #1d61f2;
}
.work img {
  width: 40%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px gray;
}
@media only screen and (max-width: 37.5em) {
  .work img {
    width: 100%;
  }
}
